/* Commonen styles */

html {
    overflow-x: initial !important;
}

body {
    margin: 0px;
    font-family: 'Abhaya Libre', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abhaya Libre', serif;
}



body {
    margin: 0px;
    font-family: 'Abhaya Libre', serif;
}

