/* Hero section styles */

.top{
    background:#cbcbcb;
    padding: 50px;
    height: 275px;
    display: flex;
    justify-content: space-around;
}

.top-section > .top-heading {
    padding: 1px 20px;
    background-color: #3a5db3;
    color: #ffffff;
    width: 270px;
    border-radius: 2px;
}

.top-section > .top-heading h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 200;
}

.top-section > .bottom-heading {
    background-color: #839cda;
    color: #ffffff;
    padding: 1px 20px;
    margin-top: 15px;
    width: 170px;
    border-radius: 0px;
}

.top-section > .bottom-heading h3 {
    font-family: 'Abhaya Libre', serif;
    font-weight: none;
}
.image-group {
    display: flex;
    justify-content: space-around;
    height: 300px;
    overflow: hidden;
}

/* Features section styles */
/* .content-wrapper {
    background: #839cda;
    width: 100%;
} */
